@model List<ResultProductDto>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body class="sub_page">


    @await Component.InvokeAsync("_MenuNavbarComponentPartial")

    <section class="food_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Menümüz
                </h2>
            </div>

            <ul class="filters_menu">
                <li class="active" data-filter="*">Tüm Ürünler</li>
                <li data-filter=".burger">Hamburger</li>
                <li data-filter=".pizza">Pizza</li>
                <li data-filter=".pasta">Makarna</li>
                <li data-filter=".fries">Kızartmalar</li>
                <li data-filter=".fries">Salatalar</li>
                <li data-filter=".fries">İçecekler</li>
                <li data-filter=".fries">Tatlılar</li>
            </ul>

            <div class="filters-content">
                <div class="row grid">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6 col-lg-4 all pizza">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <img src="@item.ImageUrl" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h5>
                                           @item.ProductName
                                        </h5>
                                        <p>
                                           @item.Description
                                        </p>
                                        <div class="options">
                                            <h6>
                                                @item.Price ₺
                                            </h6>
                                            <a href="/Default/Index/">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill=" bg-dark" class="bi bi-cart-fill" viewBox="0 0 16 16">
                                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    View More
                </a>
            </div>
        </div>
    </section>


    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")

</body>

</html>