@model CreateAboutDto

@{
	ViewData["Title"] = "CreateAbout";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Anasayfa Hakkımızda İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post" onsubmit="save()">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni Hakkımızda Yazı Girişi</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="title">Başlığı Giriniz</label>
								<input type="text" class="form-control" asp-for="Title" id="title">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="ImageUrl">Görselin Url'ini Giriniz</label>
								<input type="text" class="form-control" asp-for="ImageUrl" id="ImageUrl">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="description">Açıklamayı Giriniz</label>
								<textarea rows="5" class="form-control" asp-for="Description" id="description"></textarea>
							</div>
						</div>
						<div class="card-action" >
							<button class="btn btn-primary">Hakkımda Yazısı Ekle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
	function save() {
		var title = document.getElementById('title').value;
		var ImageUrl = document.getElementById('ImageUrl').value;
		var description = document.getElementById('description').value;

		if (title != "" && ImageUrl != "" && description != "") {
			Swal.fire({
				position: "top-end",
				icon: "success",
				title: "Hakkında Yazısı Eklendi.",
				showConfirmButton: false,
				timer: 1500
			});
		} else {
			// Show an error message if passwords don't match
			Swal.fire({
				position: "top-end",
				icon: "error",
				title: "Alanlar Boş Geçilemez!",
				showConfirmButton: false,
				timer: 1500
			});
		}
	}
</script>
