@model UpdateNotificationDto
@{
	ViewData["Title"] = "UpdateNotification";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Bildirim İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<input type="hidden" asp-for="NotificationID" />
						<div class="card-header">
							<div class="card-title">Bildirim Güncelleme Sayfası</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Type">Bildirim Tipini Giriniz</label>
								<input type="text" class="form-control" asp-for="Type" id="Type">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Icon">Bildirim Iconu Giriniz</label>
								<input type="text" class="form-control" asp-for="Icon" id="Icon">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Description">Açıklamayı Giriniz</label>
								<input type="text" class="form-control" asp-for="Description" id="Description">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">Bildirim Güncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>