
<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Yönetim Paneli
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="/Menu/Index">
								<span class="link-collapse">Menüyü Gör</span>
							</a>
						</li>
						<li>
							<a href="/Register/Index">
								<span class="link-collapse">Yeni Kayıt</span>
							</a>
						</li>
						<li>
							<a href="/Login/Index">
								<span class="link-collapse">Giriş Yap</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/Index">
					<i class="la la-table"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="index.html">
					<i class="la la-dashboard"></i>
					<p>Dashboard</p>
					<span class="badge badge-success">3</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Menu/Index/">
					<i class="la la-table"></i>
					<p>Menüyü Gör</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Category/Index/">
					<i class="la la-keyboard-o"></i>
					<p>Kategoriler</p>
				</a>
			</li>
			<li class="nav-item ">
				<a href="/Product/Index/">
					<i class="la la-bomb"></i>
					<p>Ürünler</p>
					
				</a>
			</li>

			<li class="nav-item">
				<a data-toggle="collapse" href="#collapseExampleOne" aria-expanded="true">
					<i class="la la-registered"></i>
					<p>	Rezervasyonlar</p>
					<span class="caret"></span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExampleOne" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="/Booking/Index/">
								<span class="link-collapse">Tüm Rezervasyon Listesi</span>
							</a>
						</li>
						<li>
							<a href="/Booking/GetBookingStatusApproved">
								<span class="link-collapse">Onaylanan Rezervasyonlar</span>
							</a>
						</li>
						<li>
							<a href="/Booking/GetBookingStatusReceived">
								<span class="link-collapse">Alınan Rezervasyonlar</span>
							</a>
						</li>
						<li>
							<a href="/Booking/GetBookingStatusCanceled">
								<span class="link-collapse">İptal edilen Rezervasyonlar</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a href="/About/Index">
					<i class="la la-font"></i>
					<p>Hakkımızda</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Discount/Index">
					<i class="la la-money"></i>
					<p>İndirimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Contact/Index">
					<i class="la la-phone"></i>
					<p>İletişim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Feature/Index">
					<i class="la la-odnoklassniki"></i>
					<p>Öne Çıkanlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Testimonial/Index">
					<i class="la la-quote-left"></i>
					<p>Referanslar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/SocialMedia/Index">
					<i class="la la-facebook"></i>
					<p>Sosyal Medya</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Statistic/Index">
					<i class="la la-sliders"></i>
					<p>İstatistikler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/MenuTables/Index">
					<i class="la la-windows"></i>
					<p>Masalar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/MenuTables/TableListByStatus">
					<i class="la la-sun-o"></i>
					<p>Masa Durumları</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message/Index">
					<i class="la la-vimeo-square la-vine la-vk la-volume-down la-volume-off la-volume-up la-warning la-wechat"></i>
					<p>Mesaj Sayfası</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Notifications/Index">
					<i class="la la-bell-o"></i>
					<p>Bildirimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/ProgressBars/Index">
					<i class="la la-angellist"></i>
					<p>Anlık Durum Sayfası</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Setting/Index">
					<i class="la la-qrcode"></i>
					<p>QR Code Oluşturma Sayfası</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Mail/Index">
					<i class="la la-anchor"></i>
					<p>Mail İşlemleri</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Setting/Index">
					<i class="la la-wrench"></i>
					<p>Ayarlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Çıkış</p>
				</a>
			</li>
		</ul>
	</div>
</div>